* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
